<app-header (toggleSidebarForMe)="sidenav.toggle()"></app-header>

<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-sidenav>
<br/>
  <div class="categories-container">
    <h2>Paiements de Factures</h2>

    <div class="category" *ngFor="let category of categories">
      <button (click)="toggleCategory(category)">
        <mat-icon>{{ category.icon }}</mat-icon>
        {{ category.title }}
      </button>

      <div class="submenu" *ngIf="category.open">
        <ul>
          <li *ngFor="let option of category.options" class="creancier-item" (click)="redirectToCreancierDetails(option)">
            <img [src]="option.img" alt="{{ option.nom }}" class="creancier-img" />
           <span> {{ option.nom }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

</mat-sidenav-container>
