.change-password-card {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-header mat-icon {
  font-size: 20px;
  color: #c54d29;
}

.section-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.success {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}


  /* Conteneur principal */
.sidenav-container {
  height: 100vh; /* Hauteur de l'écran */
  display: flex;
  flex-direction: column;
}

/* Sidebar */
mat-sidenav {
  width: 250px; /* Largeur du sidebar */
  background: #ffffff; /* Couleur de fond */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Ombre pour un effet visuel */
}

/* Contenu principal */
mat-sidenav-content {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9; /* Couleur de fond du contenu */
  padding: 20px;
}

/* Header */
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #3f51b5; /* Couleur du header */
  color: white;
}
