.container {
    max-width: 500px;
    margin: 20px auto 70px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    }
    
    .form-group {
    margin-bottom: 20px;
    }
    
    .form-group label {
    display: block;
    font-weight: bold;
    }
    
    .form-group input, .form-group select {
    width: 95%;
    padding: 13px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    
    button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    button[type="submit"]:hover {
    background-color: #0056b3;
    }
    
    .error-message {
    color: #dc3545;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    }
    
    /* Conteneur principal */
.sidenav-container {
    height: 100vh; /* Hauteur de l'écran */
    display: flex;
    flex-direction: column;
  }
  
  /* Sidebar */
  mat-sidenav {
    width: 250px; /* Largeur du sidebar */
    background: #ffffff; /* Couleur de fond */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Ombre pour un effet visuel */
  }
  
  /* Contenu principal */
  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9; /* Couleur de fond du contenu */
    padding: 20px;
  }
  
  /* Header */
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #3f51b5; /* Couleur du header */
    color: white;
  }
  