<app-topnav (toggleSidebarForMe)="sidenav.toggle()"></app-topnav>

<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened>
    <app-leftnav></app-leftnav>
  </mat-sidenav>

<div class="container">
    <p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>
    <h2>Update Client</h2>
    <form (ngSubmit)="updateUser()">
        <div class="form-group">
                <label for="">Nom: </label>
                <input type="text" name="nom" [(ngModel)]="userData.nom">
        </div>
        <div class="form-group">
                <label for="">Prénom: </label>
                <input type="text" name="prenom" [(ngModel)]="userData.prenom">
        </div>
        <div class="form-group">
                <label for="">Email: </label>
                <input type="text" name="email" [(ngModel)]="userData.email">
        </div>
        <div class="form-group">
                <label for="">Téléphone: </label>
                <input type="text" name="telephone" [(ngModel)]="userData.telephone">
        </div>
        <div class="form-group">
                <label for="">Adresse: </label>
                <input type="text" name="adresse" [(ngModel)]="userData.adresse">
        </div>
        <button type="submit">Update</button>
        <button type="button" class="btn btn-secondary" (click)="Annuler()">Annuler</button>

    </form>
</div>
</mat-sidenav-container>