<app-topnav (toggleSidebarForMe)="sidenav.toggle()"></app-topnav>

<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened>
    <app-leftnav></app-leftnav>
  </mat-sidenav>

  <div class="dashboard">
    <!-- Cards Container -->
    <div class="cards-container">
      <mat-card class="user-card">
        <mat-card-header>
          <mat-card-title>Nombre total des clients</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h2 *ngIf="userCount !== null; else loading">{{ userCount }}</h2>
          <ng-template #loading>
            <mat-progress-spinner
              diameter="50"
              mode="indeterminate"
              color="accent"
            ></mat-progress-spinner>
          </ng-template>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/listeClient">Voir Détails</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="user-card">
        <mat-card-header>
          <mat-card-title>Nombre total des clients</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h2 *ngIf="userCount !== null; else loading">{{ userCount }}</h2>
          <ng-template #loading>
            <mat-progress-spinner
              diameter="50"
              mode="indeterminate"
              color="accent"
            ></mat-progress-spinner>
          </ng-template>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/listeClient">Voir Détails</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- Transactions Chart -->
    <div class="chart-container">
      <canvas id="transactionsChart"></canvas>
    </div>
  </div>
</mat-sidenav-container>
