<mat-nav-list>
  <!-- Conteneur du nom de l'utilisateur -->
  <div class="user-info-container py-3 px-4">
    <span class="user-name">{{profileInfo?.ourUsers?.prenom}} {{profileInfo?.ourUsers?.nom}}</span>
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
    <mat-icon>account_circle</mat-icon> Accueil
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/virement">
    <mat-icon>payment</mat-icon> Virements & Transferts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/generCarte">
    <mat-icon>price_check</mat-icon> E-Carte 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/total-demandes">
    <mat-icon>mail</mat-icon> Messagerie 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/total-demandes">
    <mat-icon>event_available</mat-icon> Prise de RD 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/total-demandes">
    <mat-icon>settings</mat-icon> Paramètres 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/total-demandes">
    <mat-icon>info_outline</mat-icon> Tarifs 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/total-demandes">
    <mat-icon>help_outline</mat-icon> Aide 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/total-demandes">
    <mat-icon>label</mat-icon> À propos 
  </a>
</mat-nav-list>
