<mat-nav-list>
  <!-- Conteneur du nom de l'utilisateur -->
  <div class="user-info-container py-3 px-4">
    <span class="user-name">{{profileInfo?.ourUsers?.prenom}} {{profileInfo?.ourUsers?.nom}}</span>
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
    <mat-icon>account_circle</mat-icon> Accueil
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/virement">
    <mat-icon>payment</mat-icon> Virements & Transferts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/ecarte">
    <mat-icon>price_check</mat-icon> E-Carte 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/cryptoConvert">
    <mat-icon>store</mat-icon> Cryptomonnaies  
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/cryptoHistory">
    <mat-icon>receipt</mat-icon> Historique de Cryptomonnaies  
  </a>

</mat-nav-list>
