<app-header (toggleSidebarForMe)="sidenav.toggle()"></app-header>

<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <!-- Contenu principal -->
  <mat-sidenav-content>
    <div class="dashboard-grid">
      <!-- Carte: Mes Comptes -->
      <mat-card class="dashboard-card">
        <img src="assets/comptes.png" alt="Mes Comptes" class="card-icon">
        <mat-card-title style="font-weight: normal;">Mon Compte</mat-card-title>
      </mat-card>

      <!-- Carte: Mes Moyens de Paiement -->
      <mat-card class="dashboard-card">
        <img src="assets/moyen.png" alt="Moyens de Paiement" class="card-icon">
        <mat-card-title style="font-weight: normal;">Mes Moyens de Paiement</mat-card-title>
      </mat-card>

      <!-- Carte: Virements -->
      <mat-card class="dashboard-card">
        <img src="assets/virement1.png" alt="Virements" routerLink="/virement" class="card-icon">
        <mat-card-title style="font-weight: normal;">Virements  & Transferts</mat-card-title>
      </mat-card>

      <!-- Carte: Transferts -->
      <mat-card class="dashboard-card">
        <img src="assets/crypto.png" alt="Transferts" class="card-icon" routerLink="/cryptoConvert">
        <mat-card-title style="font-weight: normal;">Cryptomonnaies        </mat-card-title>
      </mat-card>

      <!-- Carte: Paiements -->
      <mat-card class="dashboard-card" routerLink="/facture" style="cursor: pointer;">
        <img src="assets/Cartes.png" alt="Paiements" class="card-icon">
        <mat-card-title style="font-weight: normal;" >Paiement des factures</mat-card-title>
      </mat-card>

      <!-- Carte: Achat de Recharges -->
      <mat-card class="dashboard-card">
        <img src="assets/sim1.png" alt="Achat de Recharges" class="card-icon">
        <mat-card-title style="font-weight: normal;">Achat de Recharges</mat-card-title>
      </mat-card>
      <mat-card class="dashboard-card">
        <img src="assets/sim1.png" alt="Abonnements" class="card-icon">
        <mat-card-title style="font-weight: normal;">Abonnements</mat-card-title>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
